In [6]:
import sys, os
import pandas as pd
# Add the 'scripts' directory to the Python path
sys.path.append(os.path.abspath(os.path.join('..', 'scripts')))

from fetch_stock_data import fetch_historical_data

# extract multiple datasets  and concatenate in one dataset for analysis
# List of stocks
stocks = ['AAPL','AMZN','GOOG','META', 'MSFT', 'NVDA','TSLA']
# Fetch historical data for list of stocks

 # Fetch data for AAPL, GOOGL, and MSFT, etc
df = fetch_historical_data(stocks, start_date='2010-01-01', end_date='2023-01-01')
    
# Explore the results
df.head()

              Open      High     Low   Close      Volume stock
Date
2022-12-30  128.41  129.9500  127.43  129.93  77034209.0  AAPL
2022-12-29  127.99  130.4814  127.73  129.61  75703710.0  AAPL
2022-12-28  129.67  131.0275  125.87  126.04  85438391.0  AAPL
2022-12-27  131.38  131.4100  128.72  130.03  69007830.0  AAPL
2022-12-23  130.92  132.4150  129.64  131.86  63814893.0  AAPL

In [7]:
# check the size of the dataset
df.shape

(21119, 6)

In [8]:
# check missing values
df.isnull().sum()

Open      0
High      0
Low       0
Close     0
Volume    0
stock     0
dtype: int64

In [9]:
# check the data types
df.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
stock      object
dtype: object

In [11]:
# Import ta-lib library
import talib

ModuleNotFoundError: No module named 'talib'